/*
	Dark Grey = rgb(101, 101, 101);
	Grey = rgb(151, 151, 151);
	Light Grey = rgb(200, 200, 200);
	Lightest Grey = rgb(245, 245, 245);
	Dark Green = rgb(31, 103, 0);
	Green = rgb(41, 138, 0);
	Light Green = rgb(49, 171, 0);
	Pale Green = rgb(200, 238, 196);
*/

/* General Styles */
h2, h3 {
    text-align: left;
}

table.bordered {
    border-collapse: collapse;
}

    table.bordered thead th {
        background-color: rgb(31, 103, 0);
        color: rgb(255, 255, 255);
    }

    table.bordered td, table.bordered th {
        border: 1px solid rgb(0, 0, 0);
        vertical-align: top;
    }

    table.bordered .shade {
        background-color: rgb(225, 225, 225);
    }

    table.bordered ul {
        margin: 0;
    }

/* Input Styles */
select {
    font-size: 95%;
    border: 2px solid rgb(101, 101, 101);
}

input[type="text"], input[type="search"] {
    font-family: Arial,sans-serif;
    font-size: 90%;
    border: 2px solid rgb(101, 101, 101);
    padding: 2px 3px;
    margin: 2px 0px;
}

    input[type="text"]:focus, input[type="search"]:focus, select:focus {
        border: 2px solid rgb(41, 138, 0);
        box-shadow: none;
        outline: none;
    }

textarea {
    height: 6em;
    width: 25em;
    font-family: Arial,sans-serif;
    font-size: 90%;
    border: 2px solid rgb(101, 101, 101);
    padding: 2px 3px;
    margin: 2px 0px;
}

    textarea:focus {
        border: 2px solid rgb(41, 138, 0);
        box-shadow: none;
        outline: none;
    }

input[type="button"] {
    font-size: 90%;
    padding: 5px;
}

.textLabel {
    display: inline-block;
    margin: 0 10px;
}

    .textLabel + input[type="textbox"], .textLabel + textarea, .textLabel + select {
        vertical-align: top;
    }

/* Search Bar Styles */
.searchContainer {
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
}

    .searchContainer img {
        border: 0 !important;
    }

.searchBar {
    width: 100%;
    display: block;
}

.searchResults {
    width: 100%;
    padding: 0em;
    margin: 0em;
    display: block;
}

    .searchResults ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        border: 1px solid rgb(0, 0, 0);
        top: 0px;
        left: 0px;
        z-index: 5;
    }

    .searchResults li {
        margin: 0;
        padding: 0;
    }

    .searchResults a {
        background: rgb(245, 245, 245);
        display: block;
        padding: 10px;
        color: black;
        text-decoration: none;
        font-weight: 400;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

        .searchResults a:hover {
            background: rgb(200, 238, 196);
            cursor: pointer;
        }

#Search-Container {
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
}

#Search-Bar {
    width: 100%;
    display: block;
}

#Search-Results {
    width: 100%;
    padding: 0em;
    margin: 0em;
    display: block;
}

    #Search-Results ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        border: 1px solid rgb(0, 0, 0);
        top: 0px;
        left: 0px;
        z-index: 5;
    }

    #Search-Results li {
        margin: 0;
        padding: 0;
    }

    #Search-Results a {
        background: rgb(245, 245, 245);
        display: block;
        padding: 10px;
        color: black;
        text-decoration: none;
        font-weight: 400;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

        #Search-Results a:hover {
            background: rgb(200, 238, 196);
            cursor: pointer;
        }




/* Price Table Formatting */
#Price-Table {
    border-collapse: collapse;
}

    #Price-Table th, #Price-Table td {
        padding: 5px 10px;
    }

    #Price-Table td {
        text-align: center;
        background-color: rgb(245, 245, 245);
    }

    #Price-Table thead th, #Price-Table tfoot th {
        background-color: rgb(31, 103, 0);
        color: rgb(255, 255, 255);
    }

        #Price-Table thead th:nth-child(1) {
            width: 15em;
        }

        #Price-Table thead th:nth-child(3) {
            width: 10em;
        }

    #Price-Table tbody td:nth-child(1) {
        text-align: left;
    }

        #Price-Table tbody td:nth-child(1) input {
            min-width: 10em;
            max-width: 20em;
            width: 100%;
            text-align: left;
        }

    #Price-Table .cellPrice {
        text-align: right;
    }

    #Price-Table tfoot th {
        text-align: right;
    }

    #Price-Table tfoot td {
        text-align: left;
        font-size: 75%;
        background-color: rgb(200, 200, 200);
    }

    #Price-Table tfoot .changeCell {
        text-align: center;
        font-size: 75%;
    }

    #Price-Table input[type="text"] {
        width: 3em;
        text-align: center;
    }

    #Price-Table select {
        width: 8em;
    }

    #Price-Table .delete {
        border: none;
        background: url("/static/drug_price_calculator/images/trash.png") 0px 0px;
        width: 25px;
        height: 29px;
        display: block;
    }

        #Price-Table .delete:hover {
            background: url("/static/drug_price_calculator/images/trash.png") 0px 29px;
            width: 25px;
            height: 29px;
            cursor: pointer;
        }

.info {
    border: none;
    background: url("/static/drug_price_calculator/images/info.png") 0px 29px;
    width: 29px;
    height: 29px;
    display: block;
}

    .info.notice {
        border: none;
        background: url("/static/drug_price_calculator/images/info.png") 0px 87px;
        width: 29px;
        height: 29px;
        display: block;
    }

    .info.warning {
        border: none;
        background: url("/static/drug_price_calculator/images/info.png") 0px 116px;
        width: 29px;
        height: 29px;
        display: block;
    }

    .info:hover {
        background: url("/static/drug_price_calculator/images/info.png") 0px 58px;
        width: 29px;
        height: 29px;
        cursor: pointer;
    }

.methodDay .cellDay {
    display: table-cell;
}

.methodDay .cellQuantity {
    display: none;
}

.methodQuantity .cellDay {
    display: none;
}

.methodQuantity .cellQuantity {
    display: table-cell;
}

.legend {
    font-size: 70%;
}




/* Comparison Table Formatting */
#Comparison-Table {
    border-collapse: collapse;
}

    #Comparison-Table th, #Comparison-Table td {
        padding: 5px 10px;
    }

    #Comparison-Table td {
        text-align: center;
        background-color: rgb(245, 245, 245);
    }

    #Comparison-Table thead th, #Comparison-Table tfoot th {
        background-color: rgb(31, 103, 0);
        color: rgb(255, 255, 255);
    }

        #Comparison-Table thead th:nth-child(1) {
            width: 15em;
        }

    #Comparison-Table tbody td:nth-child(1) {
        text-align: left;
    }

    #Comparison-Table .cellPrice {
        text-align: right;
    }

    #Comparison-Table tfoot th {
        text-align: right;
    }

    #Comparison-Table tfoot td {
        text-align: left;
        font-size: 75%;
        background-color: rgb(200, 200, 200);
    }

    #Comparison-Table tfoot .changeCell {
        text-align: center;
        font-size: 75%;
    }

    #Comparison-Table input[type="text"] {
        width: 3em;
        text-align: center;
    }

    #Comparison-Table select {
        width: 8em;
    }




/* Select-Div Formatting */
.selectDiv {
    font-family: Arial,sans-serif;
    font-size: 90%;
    border: 2px solid rgb(101, 101, 101);
    margin: 2px 0px;
    display: inline-block;
    max-width: 100%;
}

    .selectDiv ul {
        background-color: rgb(255, 255, 255);
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .selectDiv input[type="checkbox"] {
        display: none;
    }

    .selectDiv label {
        max-width: 100%;
        display: block;
        padding: 8px;
        -webkit-transition: background 0.4s ease-in-out;
        -moz-transition: background 0.4s ease-in-out;
        -ms-transition: background 0.4s ease-in-out;
        -o-transition: background 0.4s ease-in-out;
        transition: background 0.4s ease-in-out;
    }

        .selectDiv label:hover, .selectDiv input[type="checkbox"]:checked + label:hover {
            background-color: rgb(200, 200, 200);
        }

    .selectDiv input[type="checkbox"]:checked + label {
        background-color: rgb(200, 238, 196);
    }

/* General Popup Formatting */
#Popup-Veil {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#Change-Popup, #Info-Popup {
    position: absolute;
    margin: auto;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(0, 0, 0);
    z-index: 3;
    box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

    /* Change All Popup Formatting */
    #Change-Popup span {
        display: block;
        padding: 0.25em;
    }

    #Change-Popup input[type="text"] {
        display: block;
        width: 3em;
        margin: 0.25em
    }

    #Change-Popup input[type="button"] {
        margin: 0.25em;
    }

/* Info Popup */
#Info-Popup {
    min-width: 300px;
    max-width: 600px;
    word-wrap: break-word;
}

    #Info-Popup h3 {
        text-align: center;
        max-width: 100%;
        background-color: rgb(31, 103, 0);
        color: rgb(255, 255, 255);
    }


    #Info-Popup .close {
        margin: 0 auto;
        width: 73px;
        padding: 10px 0;
    }

    #Info-Popup a {
        font-weight: 400;
    }

    #Info-Popup table {
        border-collapse: collapse;
        margin: 0 10px;
    }

        #Info-Popup table td {
            padding: 2px 0;
        }

        #Info-Popup table tr td:nth-child(1) {
            padding: 0 10px 0 0;
        }

        #Info-Popup table tr td:nth-child(2) {
            font-weight: 700;
            text-align: right;
        }

        #Info-Popup table tr td:nth-child(3) {
            text-align: right;
        }

    #Info-Popup tr.totalRow td:nth-child(2),
    #Info-Popup tr.totalRow td:nth-child(3) {
        border-top: 1px solid rgb(0, 0, 0);
        font-weight: 700;
    }

    #Info-Popup ul {
        margin: 0;
    }

        #Info-Popup ul li {
            padding: 4px 0;
        }

/* Loading Bar */
#warningGradientOuterBarG {
    height: 25px;
    width: 200px;
    border: 1px solid rgb(0,0,0);
    overflow: hidden;
    background-color: rgb(255,255,255);
    margin: auto;
    background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
    background: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
    background: linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
    background: -o-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
    background: -ms-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
    background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
    background: -moz-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
}

.warningGradientBarLineG {
    background-color: rgb(255,255,255);
    float: left;
    width: 18px;
    height: 150px;
    margin-right: 30px;
    margin-top: -35px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.warningGradientAnimationG {
    width: 295px;
    animation-name: warningGradientAnimationG;
    -o-animation-name: warningGradientAnimationG;
    -ms-animation-name: warningGradientAnimationG;
    -webkit-animation-name: warningGradientAnimationG;
    -moz-animation-name: warningGradientAnimationG;
    animation-duration: 0.585s;
    -o-animation-duration: 0.585s;
    -ms-animation-duration: 0.585s;
    -webkit-animation-duration: 0.585s;
    -moz-animation-duration: 0.585s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}



@keyframes warningGradientAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -48px;
    }
}

@-o-keyframes warningGradientAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -48px;
    }
}

@-ms-keyframes warningGradientAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -48px;
    }
}

@-webkit-keyframes warningGradientAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -48px;
    }
}

@-moz-keyframes warningGradientAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -48px;
    }
}
