{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'tools_index' %}">Health Canda Drug Product Database</a> &gt; Pharmaceutical Standard List</h1>

	{% if pharmaceutical_standard_list %}
		<table>
			<thead>
				<tr>
                    <th>Drug Code</th>
                    <th>Pharmaceutical Standard</th>
				</tr>
			</thead>
			<tbody>
				{% for item in pharmaceutical_standard_list %}
					<tr>
                        <td>{{ item.drug_code }}</td>
                        <td>{{ item.pharmaceutical_std }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}