{% extends "base_generic.html" %}

{% load static %}

{% block styles %}
	<style>
		#sb .content-section {
			align-items: center;
			margin: 5rem 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		
			#sb .content-section h2 {
				width: 100%;
			}

			#sb .content-section blockquote {
				width: 100%;
			}

			#sb .content-section h2:after {
				content: "";
				display: block;
				border-top: dashed 2px rgb(200, 238, 196);
				height: 2px;
				position: relative;
				top: 1rem;
				z-index: 1;
			}

			#sb .content-section.what h2:after {
				width: 60%;
				left: 35%;
			}

			#sb .content-section.study h2:after {
				width: 50%;
				left: 5%;
			}

			#sb .content-section.after h2:after {
				width: 50%;
				left: 45%;
			}

			#sb .content-section.read h2:after {
				width: 50%;
				left: 5%;
			}

			#sb .content-section.play h2:after {
				width: 50%;
				left: 45%;
			}

			#sb .content-section.design h2:after {
				width: 52%;
				left: 5%;
			}

			#sb .content-section div {
				box-sizing: border-box;
				display: inline-block;
				padding: 2rem;
				text-align: center;
				width: 100%;
			}

			#sb .content-section img {
				max-width: 100%;
				max-height: 100%;
			}

		#sb #updates {
			display: flex;
			flex-direction: column;
		}

		#sb #updates #displayed-update {
			width: 100%;
			height: 400px;
		}

		#sb #updates .update {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			box-sizing: border-box;
			height: 100%;
			padding: 2rem;
			text-align: center;
			width: 100%;
		}

		#sb #updates .hide {
			display: none;
		}

		#sb #updates .update-link.selected {
			opacity: 1;
		}

		#sb #updates .selected .link-text {
			font-weight: 700;
		}

		#sb #updates .update-link {
			align-items: center;
			display: flex;
			flex-direction: row;
			opacity: 0.5;
		}

		#sb #updates .link-image {
			border: 2px solid rgb(0,0,0);
			border-radius: 50%;
			box-sizing: border-box;
			display: inline-block;
			margin: 5px 0;
			height: 100px;
			width: 100px;
		}

		#sb #updates .link-text {
			display: inline-block;
			padding: 10px;
			transition: all ease-in-out 0.15s;
			width: 100%;
		}

		#sb #updates a {
			color: rgb(0, 0, 0);
		}

		#sb #updates a:hover {
			cursor: pointer;
		}

		#sb #updates h2 {
			margin: 0;
			padding: 2rem;
		}

		@media screen and (min-width: 768px) {
			#sb .content-section {
				flex-direction: row;
			}

			#sb .content-section div {
				flex: 1 0 50%;
				max-width: 50%;
			}

			#sb .content-section img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		@media screen and (min-width: 1024px) {
			#sb #updates {
				flex-direction: row;
			}

			#sb #updates #update-links {
				max-width: 500px;
				min-width: 300px;
			}
		}
	</style>
{% endblock %}

{% block js %}	
	<script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
	<div id="updates" data-loop="true">
		<div id="update-links">
			<h2>Updates</h2>
			{% for update in updates %}
				<a class="update-link {% if update.priority == 1 %}selected{% endif %}" 
				   onclick="changeUpdateIcon(this)" data-id="{{ update.id }}">
					
					<img class="link-image" src="{{ update.icon.url }}">
					<div class="link-text">{{ update.title }}</div>
				</a>
			{% endfor %}
		</div>
		<div id="displayed-update">
			{% for update in updates %}
				<div data-id="{{ update.id }}" 
					 class="update {% if update.priority > 1 %}hide{% endif %}" 
					 {% if update.background %}style="background-image:url('{{ update.background.url }}')"{% endif %}>					 
					
					{{ update.html|safe }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="content-section what">
		<h2>What are Study Buffalo?</h2>

		<div>
			We are two polyurethane foam rubber buffalo. While we are 
			unusual representatives, we work hard to improve the delivery 
			of health care services, by improving both the practioners and 
			technology supporting them.
		</div>

		<div>
			<img src="{% static 'images/home-1.jpg' %}">
		</div>
	</div>

	<div class="content-section study">
		<h2>Study</h2>

		<blockquote>
			Practice makes perfect...
		</blockquote>
		
		<div>
			<img src="{% static 'images/home-2.jpg' %}">
		</div>

		<div>
			To help the next generation of pharmacists, and other health 
			profesisonals, we provide a unique selection of study
			tools, guides, and quizzes. For the particulary 
			motivated student, we also offer monetary bounties to those who 
			wish to update older resources or develop new resources.
		</div>
	</div>

	<div class="content-section tools">
		<h2>Tools</h2>

		<blockquote>
			Every once in a while, a new technology, an old problem, and a 
			big idea turn into an innovation. --Dean Kamen
		</blockquote>

		<div>
			While technology does not define a good practioner, we feel it 
			can definitely make their job easier. We have developed tools 
			to solve the real problems practioners face in their day-to-day 
			to make the care they deliver that much better. All tools are 
			designed to be easy-to-use, so take a look and see what you
			can use to improve your practice today.
		</div>
		
		<div>
			<img src="{% static 'images/home-3.jpg' %}">
		</div>
	</div>

	<div class="content-section read">
		<h2>Read</h2>

		<blockquote>
			Reading is to the mind what exercise is to the body. --Richard Steele
		</blockquote>
		
		<div>
			<img src="{% static 'images/home-4.jpg' %}">
		</div>

		<div>
			From time to time we have the opportunity to do some writing. Take
			the opportunity to explore our literary adventures and maybe learn 
			a few more interesting things.
		</div>
	</div>


	<div class="content-section play">
		<h2>Play</h2>

		<blockquote>
			All work and no play makes Jack a dull boy --The Shining by Stephen King
		</blockquote>

		<div>
			A little break and go a long way to keeping the mind and body refreshed
			and engerized for whatever you need to do. Stroll through the gallery of 
			our adventures and you may even pick up an interesting triva fact along 
			the way.
		</div>
		
		<div>
			<img src="{% static 'images/home-5.jpg' %}">
		</div>
	</div>


	<div class="content-section design">
		<h2>Design</h2>

		<blockquote>

		</blockquote>
		
		<div>
			<img src="{% static 'images/home-6.jpg' %}">
		</div>

		<div>
			<p>
				All our tools would be nothing without the technology behind them. 
				We are strong supporters of open source software development and 
				are happy to share all our source code and software under a 
				<a href="https://www.gnu.org/licenses/gpl-3.0.txt">GNU GPLv3 
				License</a>. All source code is available on our 
				<a href="https://github.com/studybuffalo">GitHub profile</a>.
			</p>
			<p>
				If you require a different license for a project please contact us, 
				although we strongly will encourage the use of similar <i>copyleft</i>
				licenses. Other licenses will be considered on a case-by-case basis.
			</p>
			<p>
				Finally, we are available to act as consultants in health care-related
				technology. Contact us if you would like to discuss an arrangment.
			</p>
		</div>
	</div>
{% endblock %}