{% extends "base_generic.html" %}

{% block content %}
  <div>
    <h1>Privacy Policy</h1>

    <p>
      We at Study Buffalo are committed to protecting the privacy of
      visitor to our website. Below you will find information that
      explains what information we collect through our website,
      how it is used, and the protections we provide for this information.
    </p>

    <p>
      In this policy, "Study Buffalo" refers to all creators, staff, and
      contributors who have worked on StudyBuffalo.com or any of its
      resources/tools.
    </p>
  </div>

  <div>
    <h2>Information Collected by Study Buffalo</h2>

    <p>
      <strong>Logging: </strong> We currently collect all access requests to
      StudyBuffalo.com and its resources. This information includes the
      IP address of the accessing client and the resource accessed. We also
      record anonymous data usage of our resources, specifically the content
      interacted with during your visit.
    </p>

    <p>
      <strong>Cookies: </strong> We currently only make use of persistent ID
      cookies to track when a user has chose to remain logged in to the
      website. We also make use of session cookies on our server that will
      store specific page information as you use the site. This information
      is not identifiable and expires when the web browser is closed.
    </p>

    <p>
      <strong>Voluntarily Submitted Information: </strong> At times, you may
      be asked to voluntarily provide information to us, such as your name
      and email, when making a user account. A user account is not required
      to use most of our services, but is required when contributing to
      Study Buffalo, to allow proper recognition and peer review of the
      contributed information.
    </p>
  </div>

  <h2>Use of Information by Study Buffalo</h2>

  <p>
    Currently all <strong>logged data</strong> is used only to monitor
    trends in resource usage and to better understand where our users
    originate from. This data is not shared with any other parties and
    is only available to Study Buffalo. We cannot unmask the identity
    for anonymous data.
  </p>

  <p>
    <strong>Voluntarily submitted information</strong> is used to
    contact you regarding any contributions you have made to Study
    Buffalo or to notify you of major changes to the site. In the
    unlikely situation where there has been a privacy breach, you
    may also be contacted to directly notify you of the situtaion.
  </p>

  <h2>Sharing Your Information</h2>

  <p>
    We currently do not share data with any other parties or service
    providers.
  </p>

  <h2>Third Party Services and APIs</h2>

  <p>
    Currently Study Buffalo interfaces with some third party services,
    such as Social Media networks. We do not currently exchange any
    information with them. We are also not responsible for any of these
    organizations' privacy practices.
  </p>

  <h2>Disclosure of Your Information</h2>

  <p>
    Study Buffalo strives to protect your information. We will only
    disclose your information when we have your consent, or when
    required by law.
  </p>

  <p>
    If we are required by law to disclose your information, we will
    attempt to notify you via email (if available) that a request
    has been made for your information. We will work to ensure that
    all requests are valid and in complaince with the laws governing
    the request.
  </p>

  <h2>Updating or Removing Your Information</h2>

  <p>
    You may modify your personal information through our user portal
    at any time. If you wish to delete your account, you may contact
    us (via our <a href="{% url 'contact' %}">contact page</a>) to
    arrange for removal of your data.
  </p>

  <h2>Security</h2>

  <p>
    We take security of our resources and your information seriously.
    We have made all requests to our resources default to HTTPS as a
    first line protection for your data. We try to ensure that
    proper security precautions are in place for all our tools and
    resources to prevent any accidently disclosure of information.
    We also limit the amount of data collected and the length of storage
    to minimize the risk of any sensitive data being inadvertently released.
  </p>

  <h2>Privacy Policy Revisions</h2>

  <p>
    All changes to the privacy policy will be noted here. In cases
    where there will be a significant change to the policy, we will
    notify users by email (where possible), through our home, or
    directly on the resource impacted. All revisions to the privacy
    policy can be found via our
    <a href="https://www.github.com/studybuffalo/studybuffalo" target="_blank">GitHub repository</a>.
  </p>
{% endblock %}
