[run]
data_file = reports/.coverage
include = study_buffalo/*
omit =
    */__init__.py
    */migrations/*
    */tests/*
    */templates/*
    study_buffalo/conftest.py

[html]
directory = reports/htmlcov

[xml]
output = reports/coverage.xml
