{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "node": false
    },
    "rules": {
    },
    "globals": {
        "Raven": true
    }
}
