# Django files
staticfiles/
study_buffalo/media/

# Environment Files
*.env
!.study_buffalo.env
# Dependency directories
node_modules/
jspm_packages/

# Unit test / coverage reports
reports/*

# Code editor files
.vscode

# Python Files
__pycache__
*.pyc
.pytest_cache
