[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"  # https://github.com/hynek/argon2_cffi
boto3 = "*"  # https://github.com/boto/boto3
pillow = "*"  # https://github.com/python-pillow/Pillow
psycopg2-binary = "*"  # https://github.com/psycopg/psycopg2
redis = "*"  # https://github.com/antirez/redis
sentry-sdk = "*"  # https://docs.sentry.io/quickstart/?platform=python
whitenoise = "*"  # https://github.com/evansd/whitenoise

# Django
# ------------------------------------------------------------------------------
django = "*"  # https://www.djangoproject.com/
django-environ = "*"  # https://github.com/joke2k/django-environ
django-allauth = "*"  # https://github.com/pennersr/django-allauth
django-redis = "*"  # https://github.com/niwinz/django-redis
django-storages = "*"  # https://github.com/jschneier/django-storages
django-simple-history = "*"

# Django REST Framework
djangorestframework = "*"  # https://github.com/encode/django-rest-framework
coreapi = "*"  # https://github.com/core-api/python-client


[dev-packages]
# Code quality
# ------------------------------------------------------------------------------
codecov = "*"  # https://github.com/codecov/codecov-python
coverage = "*"  # https://github.com/nedbat/coveragepy
pylint = "*"  # https://github.com/PyCQA/pylint/

# Django
# ------------------------------------------------------------------------------
django-coverage-plugin = "*"  # https://github.com/nedbat/django_coverage_plugin
django-debug-toolbar = "*"  # https://github.com/jazzband/django-debug-toolbar
django-jenkins = "*" # https://github.com/kmmbvnr/django-jenkins
django-test-plus = "*" # https://github.com/revsys/django-test-plus/
pylint-common = "*" # https://github.com/landscapeio/pylint-common
pylint-django = "*" #https://github.com/PyCQA/pylint-django

[requires]
python_version = "3.6"
