[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11.4"
django-allauth = ">=0.33.0"
django-environ = ">=0.4.4"
psycopg2 = ">=2.7.3"
Pillow = ">=4.2.1"
djangorestframework = ">=3.8.2"

[dev-packages]
pylint = "*"
django-debug-toolbar = ">= 1.9"

[requires]
python_version = "3.6"
