[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "==18.1.0"  # https://github.com/hynek/argon2_cffi
boto3 = "==1.6.2"  # https://github.com/boto/boto3
pillow = "==5.0.0"  # https://github.com/python-pillow/Pillow
psycopg2-binary = "==2.7.4"  # https://github.com/psycopg/psycopg2
raven = "==6.6.0"  # https://github.com/jschneier/django-storages
redis = ">=2.10.5"  # https://github.com/antirez/redis
whitenoise = "==3.3.1"  # https://github.com/evansd/whitenoise
# Django
# ------------------------------------------------------------------------------
django = "==2.0.3"  # https://www.djangoproject.com/
django-environ = "==0.4.4"  # https://github.com/joke2k/django-environ
django-allauth = "==0.35.0"  # https://github.com/pennersr/django-allauth
django-redis = "==4.9.0"  # https://github.com/niwinz/django-redis
django-storages = "==1.6.6"  # https://github.com/jschneier/django-storages
django-simple-history = ">=1.9.0"
# Django REST Framework
djangorestframework = "==3.7.7"  # https://github.com/encode/django-rest-framework
coreapi = "==2.3.3"  # https://github.com/core-api/python-client

[dev-packages]
# Code quality
# ------------------------------------------------------------------------------
pylint = ">=1.8"  # https://github.com/PyCQA/pylint/
coverage = "==4.5.1"  # https://github.com/nedbat/coveragepy
# Django
# ------------------------------------------------------------------------------
django-coverage-plugin = "==1.5.0"  # https://github.com/nedbat/django_coverage_plugin
django-debug-toolbar = "==1.9.1"  # https://github.com/jazzband/django-debug-toolbar
django-jenkins = ">=0.110.0" # https://github.com/kmmbvnr/django-jenkins
django-test-plus = "==1.0.22" # https://github.com/revsys/django-test-plus/
pylint-common = ">=0.2.5"

[requires]
python_version = "3.6"
