{% extends "base_generic.html" %}

{% block styles %}
	<style>
		#sb .center_content {
			margin: 2rem 0;
		}

		#sb #app_list {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		#sb #app_list > div a {
			color: inherit;
			display: flex;
			flex-direction: column;
			text-decoration: none;
			transition: ease-in-out 0.4s;
			width: 100%;
		}
		
			#sb #app_list > div a:nth-child(even) {
				background-color: rgb(240, 240, 240);
			}

			#sb #app_list > div a:hover {
				background-color: rgb(200, 200, 200);
			}

		#sb #app_list > div em {
			display: block;
			font-size: 1.5rem;
		}

		#sb #app_list .headers {
			display: none;
			font-weight: 700;
		}

		@media screen and (min-width: 760px) {
			#sb #app_list .headers {
				display: flex;
				flex-direction: row;
			}

			#sb #app_list > div a {
				flex-direction: row;
			}

			#sb #app_list > div em {
				display: none;
			}

			#sb #app_list .app_name {
				flex: 1 1 275px;
			}

			#sb #app_list .app_next_review {
				flex: 1 1 200px;
			}

			#sb #app_list .app_last_review {
				flex: 1 1 200px;
			}
		}
	</style>
{% endblock %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'log_entries' %}">Log Manager</a> &gt; Apps</h1>

	{% if messages %}
		<ul class="message_list">
			{% for message in messages %}
				{% if message.level %}
					<li class="level_{{ message.level }}">{{ message }}</li>
				{% else %}
					<li>{{ message }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}

	<p>
		<a href="{% url 'app_add' %}">
			Click here to add a new application to the log manager
		</a>
	</p>

	{% if app_list %}
		<div class="center_content">
			Click on the application below to modify or remove it
		</div>

		<div class="center_content">
			<div id="app_list">
				<div class="headers">
					<span class="app_name">Name</span>
					<span class="app_last_review">Last Review</span>
					<span class="app_next_review">Next Review</span>
				</div>
				
				{% for app in app_list %}
					<div>
						<a href="{% url 'app_edit' app.id %}">
							<span class="app_name">
								<em>Name</em>
								{{ app.name}}
							</span>
							<span class="app_last_review">
								<em>Last Review</em>
								{{ app.last_review|date:"Y-m-d H:s" }}
							</span>
							<span class="app_next_review">
								<em>Next Review</em>
								{{ app.next_review|date:"Y-m-d H:s" }}
							</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}