{% extends "base_generic.html" %}

{% block styles %}
{% endblock %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'rdrhc_calendar:calendar_index' %}">RDRHC Calendar</a> &gt; Settings</h1>

	<p>
		You may modify the following details of your schedule. Please note that
		the changes may take up to 24 hours to take effect.
	</p>

	<form action="" method="post">
		{% csrf_token %}

		{% if messages or form.errors or form.non_field_errors %}
			<ul class="message_list">
				{% for message in messages %}
					{% if message.level %}
						<li class="level_{{ message.level }}">{{ message }}</li>
					{% else %}
						<li>{{ message }}</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

		<h2>Calendar Name</h2>

		<ul class="message_list">
			{% for error in form.calendar_name.errors %}
				<li class="level_40">{{ error|striptags }}</li>
			{% endfor %}
		</ul>

		<p>
			<strong>{{ form.calendar_name.help_text }}</strong><br>
			<label for="{{ form.calendar_name.id_for_label}}">
				Calendar Name:
			</label>
			{{ form.calendar_name }}
		</p>

		<h2>Full Day Shifts</h2>

		<ul class="message_list">
			{% for error in form.full_day.errors %}
				<li class="level_40">{{ error|striptags }}</li>
			{% endfor %}
		</ul>

		<p>
			<strong>{{ form.full_day.help_text }}</strong><br>
			<label for="{{ form.full_day.id_for_label}}">
				Full Day Shift:
			</label>
			{{ form.full_day }}
		</p>

		<h2>Shift Reminders</h2>

		<ul class="message_list">
			{% for error in form.reminder.errors %}
				<li class="level_40">{{ error|striptags }}</li>
			{% endfor %}
		</ul>

		<p>
			<strong>{{ form.reminder.help_text }}</strong><br>
			<label for="{{ form.reminder.id_for_label}}">
				Reminder:
			</label>
			{{ form.reminder }} minutes
		</p>

		<button type="submit" name="action">Update Settings</button>
	</form>
{% endblock %}
