{% extends "base_generic.html" %}

{% block styles %}
	<style>
		#sb .center_content table td, #sb .center_content table th {
			padding: 1rem;
		}

		#sb .center_content table thead th,
		#sb .center_content table tbody td {
			text-align: center;
		}

		#sb .center_content table tfoot td {
			text-align: right;
		}
	</style>
{% endblock %}

{% load static %}

{% block content %}
	<h1>
		<a href="{% url 'rdrhc_calendar:index' %}">RDRHC Calendar</a> &gt;
		<a href="{% url 'rdrhc_calendar:code_list' %}">Custom Shift Codes</a> &gt;
		Delete Shift Code
	</h1>

	<form action="" method="post">
		{% csrf_token %}

		<div class="center_content">
			<table>
				<thead>
					<tr>
						<th>Are you sure you want to delete this shift code:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ shift_code }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><button type="submit">Delete</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
{% endblock %}
