/*
	Dark Grey = rgb(101, 101, 101);
	Grey = rgb(151, 151, 151);
	Light Grey = rgb(200, 200, 200);
	Lightest Grey = rgb(245, 245, 245);
	Dark Green = rgb(31, 103, 0);
	Green = rgb(41, 138, 0);
	Light Green = rgb(49, 171, 0);
	Pale Green = rgb(200, 238, 196);
*/

#output {
	overflow: auto;
}

.medLine {
	display: block;
	background-color: grey;
	width: 10000px;
}

.medLine .name {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	background-color: green;
	width: 300px;
}

.medLine .date {
	position: relative;
	display: inline-block;
	background-color: pink;
	width: 100px;
}

/* Update Table */
#Entry-Table {
	border-collapse: collapse;
	border: none;
}

#Entry-Table input[type='text'] {
	font-size: 80%;
}

#Entry-Table td {
	vertical-align: top;
	text-align: center;
	padding: 0.25em 0.1em;
	border: none;
}

#Entry-Table tr:nth-child(even) td {
	background-color: rgb(200, 200, 200);
	border: none;
}

#Entry-Table tr td:nth-child(2) {
	text-align: left;
}

.Netcare-Entry {
	max-width: 100%;
}

.Ingredient {
	width: 10em;
}

.AI-Code {
	width: 5em;
}

.Strength {
	width: 5em;
}

.Strength-Unit {
	width: 5em;
}

.Dosage-Form {
	width: 5em;
}

.Route {
	width: 5em;
}
/* Loading Bar */
#warningGradientOuterBarG{
	height:25px;
	width:200px;
	border:1px solid rgb(0,0,0);
	overflow:hidden;
	background-color:rgb(255,255,255);
	margin:auto;
	background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
		background: -o-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
		background: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
		background: -moz-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(31,102,0)));
	background: linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
		background: -o-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
		background: -ms-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
		background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
		background: -moz-linear-gradient(top, rgb(255,255,255), rgb(31,102,0));
}

.warningGradientBarLineG{
	background-color:rgb(255,255,255);
	float:left;
	width:18px;
	height:150px;
	margin-right:30px;
	margin-top:-35px;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

.warningGradientAnimationG{
	width:295px;
	animation-name:warningGradientAnimationG;
		-o-animation-name:warningGradientAnimationG;
		-ms-animation-name:warningGradientAnimationG;
		-webkit-animation-name:warningGradientAnimationG;
		-moz-animation-name:warningGradientAnimationG;
	animation-duration:0.585s;
		-o-animation-duration:0.585s;
		-ms-animation-duration:0.585s;
		-webkit-animation-duration:0.585s;
		-moz-animation-duration:0.585s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}



@keyframes warningGradientAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-48px;
	}
}

@-o-keyframes warningGradientAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-48px;
	}
}

@-ms-keyframes warningGradientAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-48px;
	}
}

@-webkit-keyframes warningGradientAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-48px;
	}
}

@-moz-keyframes warningGradientAnimationG{
	0%{
		margin-left:0px;
	}

	100%{
		margin-left:-48px;
	}
}