{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'drug_price_calculator_index' %}">Drug Price Calculator</a> &gt; Special Authorization List</h1>

	{% if special_authorization_list %}
		<table>
			<thead>
				<tr>
                    <th>URL</th>
                    <th>Title</th>
                    <th>Link</th>
				</tr>
			</thead>
			<tbody>
				{% for item in special_authorization_list %}
					<tr>
                        <td>{{ item.url }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.link }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}