{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'drug_price_calculator_index' %}">Drug Price Calculator</a> &gt; Substitutions &gt; Generic List</h1>

	{% if subs_generic_list %}
		<table>
			<thead>
				<tr>
                    <th>Original</th>
                    <th>Correction</th>
				</tr>
			</thead>
			<tbody>
				{% for item in subs_generic_list %}
					<tr>
                        <td>{{ item.original }}</td>
                        <td>{{ item.correction }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}