/*
	Dark Grey = rgb(101, 101, 101);
	Grey = rgb(151, 151, 151);
	Light Grey = rgb(200, 200, 200);
	Lightest Grey = rgb(245, 245, 245);
	Dark Green = rgb(31, 103, 0);
	Green = rgb(41, 138, 0);
	Light Green = rgb(49, 171, 0);
	Pale Green = rgb(200, 238, 196);
*/

#Play-Table-List {
	border: 0;
	border-collapse: collapse;
}

#Play-Table-List tr:hover td {
	background-color: rgb(200, 238, 196);
}

#Play-Table-List th:hover {
	background-color: rgb(200, 238, 196);
	cursor: pointer;
}

#Play-Table-List td {
	margin: 0;
	padding: 5px 20px;
}

#Play-Table-List td:nth-child(1) {
	width: 160px;
	text-align: center;
}

#Play-Table-List td:nth-child(2) {
	font-size: 80%;
	font-weight: 700;
	max-width: 600px;
}

#Play-Table-List td:nth-child(3) {
	max-width: 250px;
	text-align: center;
}

#Play-Table-List a {
	display: block;
	text-decoration: none;
	color: rgb(0, 0, 0);
}