{% extends "base_generic.html" %}

{% block styles %}
	
{% endblock %}

{% load static %}

{% block content %}
	<h1>Substitutions Dashboard</h1>

	<ul>
		{% for key, models in sub_data.items %}
		<li>{{ models.app_name }}
			<ul>
				{% for data in models.data %}
					<li>
						<a href="{% url 'sub_review' data.id %}">
							{{ data.pending }}
							({{ data.count }} entries pending review)
						</a>
					</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block js %}
	<!-- JS Scripts -->
{% endblock %}