<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title %}<title>Study Buffalo</title>{% endblock %}

	{% load static %}

	<!-- CSS Styles -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500i|Roboto:100|Ubuntu" rel="stylesheet">
	{% block styles %}{% endblock %}

	<!-- JS Files -->
	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	{% block js %}{% endblock %}
</head>

<body>
	<div id="sb">
		<div id="main-container">
			{% block header %}
				<div id="header">
					<div id="title-bar">
						<div id="social">
							<ul>
								<li>f</li>
								<li>t</li>
								<li>i</li>
							</ul>
						</div>

						<div id="logo">
							STUDY BUFFALO
						</div>

						<div id="contact">
							<ul>
								<li>e</li>
								<li>p</li>
							</ul>
						</div>
					</div>

					<ul id="menu">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'play_index' %}">Play</a></li>
						<li><a href="{% url 'study_index' %}">Study</a></li>
						<li><a href="{% url 'tools_index' %}">Tools</a></li>
						<li><a href="{% url 'pub_index' %}">Read</a></li>
						<li><a href="{% url 'design_index' %}">Design</a></li>
					</ul>
				</div>
			{% endblock %}

			<div>
				{% block content %}{% endblock %}
			</div>

			{% block footer %}
			{% endblock %}
		</div>
	</div>
</body>
</html>