<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title %}<title>Study Buffalo</title>{% endblock %}

	{% load static %}

	<!-- CSS Styles -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500i|Roboto:100|Ubuntu" rel="stylesheet">
	{% block styles %}{% endblock %}

	<!-- JS Files -->
	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	{% block js %}{% endblock %}
</head>

<body>
	<div id="sb">
			{% block header %}
				<header>
					<div id="title-bar" class="container">
						<div id="placeholder"></div>

						<div id="logo"></div>

						<div id="login">
							Login
						</div>
					</div>
				</header>

				<nav>
					<ul id="menu" class="container">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'play_index' %}">Play</a></li>
						<li><a href="{% url 'study_index' %}">Study</a></li>
						<li><a href="{% url 'tools_index' %}">Tools</a></li>
						<li><a href="{% url 'pub_index' %}">Read</a></li>
						<li><a href="{% url 'design_index' %}">Design</a></li>
					</ul>
				</nav>
			{% endblock %}

			<div class="container">
				{% block content %}{% endblock %}
			</div>

			{% block footer %}
				<section id="social">
					<div class="container">
						<div>
							Keep up-to-date with us through social media
						</div>

						<ul>
							<li>f</li>
							<li>t</li>
							<li>i</li>
							<li>g</li>
						</ul>
					</div>
				</section>

				<footer>
					
					<div class="container">
						<div class="left">
							<span>Privacy Policy</span>
							<span>Robot Policy</span>
						</div>

						<div class="middle">
							&copy; 2017 Study Buffalo
						</div>

						<div class="right">
							<span>Contact</span>
							<span>Site Map</span>
						</div>
					</div>
				</footer>
			{% endblock %}
		</div>
</body>
</html>