{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1>Contact</h1>

	<p>
		We would love to hear from you - whether to listen to your 
		suggestions for the next practice tool or study guide or to solve 
		any problem you may be having.
	</p>

	<h2>Contact us directly</h2>
	
	<form>
		<label>Your Name:</label> <input type="text"><br>
		<label>Your Email:</label> <input type="text"><br>
		<label>Subject:</label>
		<select>
			<option>Study Guides</option>
			<option>Practice Tools</option>
			<option>Other Inquiries</option>
		</select><br>
		<label>Message:</label> <textarea></textarea>
	</form>

	<h2>Social Media</h2>

	<ul>
		<li>f</li>
		<li>t</li>
		<li>i</li>
		<li>g</li>
	</ul>	

	<h2>Contact Information</h2>

	<p>
		<strong>General Inquiries: </strong> 
		<a href="mailto: info@studybuffalo.com">info@studybuffalo.com</a>
	</p>
{% endblock %}