{% extends "base_generic.html" %}

{% block content %}
	<h1>Design</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Vivamus varius lectus vitae imperdiet sodales. Mauris aliquet, 
		lorem sit amet facilisis tincidunt, dolor neque sagittis 
		tortor, iaculis lobortis massa quam et eros. 
	</p>

	<p>
		Fusce tincidunt massa a lectus bibendum mollis. Aenean varius aliquet 
		tortor quis accumsan. Suspendisse vehicula accumsan ex, eu interdum 
		nisi. Quisque non tincidunt sapien. Nullam at laoreet mauris. 
		Proin egestas imperdiet sapien vitae semper. Mauris sed sollicitudin nisl. 
	</p>

	<p>
		Suspendisse elementum maximus mattis. Donec eros ex, varius quis erat sit 
		amet, fringilla eleifend sem. Pellentesque scelerisque auctor orci et 
		ultrices. Sed eget urna neque. Sed posuere tempus orci, vel suscipit 
		lectus bibendum a. Morbi id egestas nulla. Vivamus pulvinar nibh id euismod 
		viverra. Nullam vitae felis eget mauris malesuada tempus nec at arcu. Nulla 
		facilisi. Phasellus scelerisque quam eu metus eleifend interdum.
	</p>

	<p>
		In elit libero, imperdiet a sapien dictum, semper posuere libero. 
		Aliquam interdum lectus id eros sodales convallis. Praesent eget sapien 
		tincidunt, varius nisl nec, semper eros. Cras at nulla in enim lacinia ornare. 
		Fusce vestibulum nunc tellus, eu congue lorem finibus vel. Nullam consectetur 
		ligula eu dictum porttitor. Cras dolor tellus, scelerisque vitae commodo vitae, 
		blandit in magna. Sed luctus elementum diam, sed porta ante vestibulum gravida. 
	</p>

	<p>
		Maecenas lobortis hendrerit leo, ac pharetra ipsum. Donec imperdiet 
		eget turpis mollis, vel lacinia mauris consequat. Quisque pulvinar 
		magna nec sem rutrum dignissim. Curabitur vitae iaculis nibh. Quisque 
		non fermentum ante, at venenatis mi. Vestibulum vel sagittis quam. Nunc
		porta venenatis sapien, gravida ultrices tellus dapibus nec. Praesent 
		sodales velit sed accumsan elementum. Praesent dignissim finibus nulla 
		sit amet rutrum. Duis tempor lorem purus, nec euismod sem dictum non. Nam 
		porta sed diam vitae consectetur.
	</p>
{% endblock %}