{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'tools_index' %}">Health Canda Drug Product Database</a> &gt; Companies List</h1>

	{% if companies_list %}
		<table>
			<thead>
				<tr>
                    <th>Drug Code</th>
                    <th>Manufacturer Code</th>
                    <th>Company Code</th>
                    <th>Company Name</th>
                    <th>Company Type</th>
                    <th>Address Mailing Flag</th>
                    <th>Address Billing Flag</th>
                    <th>Address Notification Flag</th>
                    <th>Address Other</th>
                    <th>Suite Number</th>
                    <th>Street Name</th>
                    <th>City Name</th>
                    <th>Province</th>
                    <th>Country</th>
                    <th>Postal Code</th>
                    <th>Post Office Box</th>
                    <th>Province (Fr)</th>
                    <th>Country (Fr)</th>
				</tr>
			</thead>
			<tbody>
				{% for item in companies_list %}
					<tr>
                        <td>{{ item.drug_code }}</td>
                        <td>{{ item.mfr_code }}</td>
                        <td>{{ item.company_code }}</td>
                        <td>{{ item.company_name }}</td>
                        <td>{{ item.company_type }}</td>
                        <td>{{ item.address_mailing_flag }}</td>
                        <td>{{ item.address_billing_flag }}</td>
                        <td>{{ item.address_notification_flag }}</td>
                        <td>{{ item.address_other }}</td>
                        <td>{{ item.suite_number }}</td>
                        <td>{{ item.street_name }}</td>
                        <td>{{ item.city_name }}</td>
                        <td>{{ item.province }}</td>
                        <td>{{ item.country }}</td>
                        <td>{{ item.postal_code }}</td>
                        <td>{{ item.post_office_box }}</td>
                        <td>{{ item.province_f }}</td>
                        <td>{{ item.country_f }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}