{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	<h1><a href="{% url 'tools_index' %}">Health Canda Drug Product Database</a> &gt; Dosage Form List</h1>

	{% if form_list %}
		<table>
			<thead>
				<tr>
                    <th>Drug Code</th>
                    <th>Pharmaceutical Form Code</th>
                    <th>Pharmaceutical Form</th>
                    <th>Pharmaceutical Form (Fr)</th>
				</tr>
			</thead>
			<tbody>
				{% for item in form_list %}
					<tr>
                        <td>{{ item.drug_code }}</td>
                        <td>{{ item.pharm_form_code }}</td>
                        <td>{{ item.pharmaceutical_form }}</td>
                        <td>{{ item.pharmaceutical_form_f }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}