{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <h1><a href="{% url 'tools_index' %}">Health Canda Drug Product Database</a> &gt; Drug Product List</h1>

  {% if drug_product_list %}
    <table>
      <thead>
        <tr>
          <th>Drug Code</th>
          <th>Product Categorization</th>
          <th>Class</th>
          <th>DIN</th>
          <th>Brand Name</th>
          <th>Descriptor</th>
          <th>Pediatric Flag</th>
          <th>Accession Number</th>
          <th>Number of AIs</th>
          <th>Last Update Date</th>
          <th>AI Group Number</th>
          <th>Class (Fr)</th>
          <th>Brand Name (Fr)</th>
          <th>Descriptor (Fr)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in drug_product_list %}
          <tr>
            <td>{{ item.drug_code }}</td>
            <td>{{ item.product_categorization }}</td>
            <td>{{ item.class_e }}</td>
            <td>{{ item.drug_identification_number }}</td>
            <td>{{ item.brand_name }}</td>
            <td>{{ item.descriptor }}</td>
            <td>{{ item.pediatric_flag }}</td>
            <td>{{ item.accession_number }}</td>
            <td>{{ item.number_of_ais}}</td>
            <td>{{ item.last_update_date|date:'Y-m-d' }}</td>
            <td>{{ item.ai_group_no }}</td>
            <td>{{ item.class_f }}</td>
            <td>{{ item.brand_name_f }}</td>
            <td>{{ item.descriptor_f }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
