/*
    Darkest Grey = rgb(50, 50, 50);
	Dark Grey = rgb(101, 101, 101);
	Grey = rgb(151, 151, 151);
	Light Grey = rgb(200, 200, 200);
	Lightest Grey = rgb(250, 250, 250);
	Dark Green = rgb(31, 103, 0);
	Green = rgb(41, 138, 0);
	Light Green = rgb(49, 171, 0);
	Pale Green = rgb(200, 238, 196);
    Red = rgb(180, 0, 0);
*/

/* Main Styling Elements */
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: rgb(250, 250, 250);
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 2.5rem;
    height: 100%;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

#sb a, #sb a:visited {
    color: rgb(41, 138, 0);
}

    #sb a:hover, #sb a:visited:hover {
        color: rgb(49, 171, 0);
    }

input, select, textarea, button {
    font-size: 2.5rem;
}

#sb h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#sb h1 {
    font-size: 5rem;
}

    #sb h1 a, #sb h1 a:visited {
        color: rgb(0, 0, 0);
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        transition: 0.2s ease;
    }

        #sb h1 a:hover, #sb h1 a:visited:hover {
            color: rgb(31, 103, 0);
        }

#sb h2 {
    font-size: 4rem;
    padding-top: 4rem;
    text-align: center;
}

    #sb h2:after {
        content: "";
        display: block;
        border-top: dashed 2px rgb(200, 238, 196);
        height: 2px;
        left: 15%;
        position: relative;
        top: 1rem;
        width: 70%;
        z-index: 1;
    }


#sb h3 {
    font-size: 3rem;
}

#sb h4 {
    font-size: 2.5rem;
}

#sb blockquote {
    font-family: "Alegreya Sans SC", "Lucida", "Verdana", sans-serif
}

/* Main containers to size & space content */
#sb {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Header */
#sb #header-container {
    flex: none;
    width: 100%;
}

#sb header {
    align-items: center;
    border-bottom: 1px solid rgb(101, 101, 101);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Header > Title Bar*/
#sb #title-bar {
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    #sb #title-bar #placeholder {
        text-align: left;
        width: 30%;
    }

    #sb #title-bar #logo {
        background-image: url("../images/logo.png");
        background-size: cover;
        height: 100px;
        width: 150px;
    }

    #sb #title-bar #login {
        font-size: 2rem;
        font-weight: bold;
        text-align: right;
        width: 30%;
    }

        #sb #title-bar #login a {
            color: inherit;
            text-decoration: none;
            transition: 0.25s ease-in-out;
        }

            #sb #title-bar #login a:hover {
                color: rgb(41, 138, 0);
            }

/* Header > Navigation Menu */
#sb #header-container nav {
    align-items: center;
    border-bottom: 1px solid rgb(101, 101, 101);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
}

    #sb #header-container nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #sb #header-container nav li {
        border-right: 1px solid rgb(101, 101, 101);
        display: inline-block;
        font-size: 3rem;
        list-style: none;
    }

        #sb #header-container nav li:first-child {
            border-left: 1px solid rgb(101, 101, 101);
        }

        #sb #header-container nav li a {
            border-bottom: 5px solid rgb(255, 255, 255);
            color: black;
            display: inline-block;
            padding: 1rem 4rem;
            text-decoration: none;
            transition: 0.25s ease-in-out;
        }

            #sb #header-container nav li a:hover {
                border-bottom: 5px solid rgb(41, 138, 0);
                cursor: pointer;
            }

            #sb #header-container nav li a.selected {
                border-bottom: 5px solid rgb(41, 138, 0);
                cursor: pointer;
            }

                #sb #header-container nav li a.selected:hover {
                    border-bottom: 5px solid rgb(200, 238, 196);
                    cursor: pointer;
                }

/* Main Content */
#sb #main-content-container {
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
    flex: 1 0 auto;
    padding: 1rem;
}

#sb .center_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Social Media Bar */
#sb #social {
    align-items: center;
    color: rgb(200, 200, 200);
    background: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;
}

    #sb #social > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #sb #social ul {
        list-style: none;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    #sb #social li {
        display: inline-block;
        padding: 1rem;
    }

    #sb #social img {
        width: 70px;
        height: 70px;
        transition: 0.25s ease-in-out;
    }

        #sb #social img:hover {
            cursor: pointer;
            transform: scale(1.15);
        }

/* Footer */
#sb #footer-container {
    flex: none;
    width: 100%;
}

#sb footer {
    align-items: center;
    background-color: rgb(101, 101, 101);
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 3rem 0;
    width: 100%;
}

    #sb footer > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #sb footer .left span {
        border-left: solid 2px rgb(50, 50, 50);
        padding: 0 1rem;
        text-align: left;
        width: 35%;
    }

        #sb footer .left span:first-child {
            border-left: none;
        }

    #sb footer .middle {
        text-align: center;
    }

    #sb footer .right span {
        border-left: solid 2px rgb(50, 50, 50);
        padding: 0 1rem;
        text-align: right;
        width: 35%;
    }

        #sb footer .right span:first-child {
            border-left: none;
        }

    #sb footer a, #sb footer a:visited {
        color: rgb(200, 200, 200);
        text-decoration: none;
    }

        #sb footer a:hover, #sb footer a:visited:hover {
            color: rgb(200, 238, 196);
        }

/* Messages and Form Errors */
#sb .message_list {
    padding: 0;
    margin: 2rem 0;
}

    #sb .message_list li {
        font-weight: 700;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #sb .message_list li.level_25 {
            color: rgb(31, 103, 0);
        }

        #sb .message_list li.level_30, #sb .message_list li.level_40 {
            color: rgb(180, 0, 0);
        }

/* Media Queries for page sizing */
@media screen and (max-width: 480px) {
    .container {
        min-width: 320px;
        max-width: 480px;
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        min-width: 480px;
        max-width: 768px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        min-width: 768px;
        max-width: 1024px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        min-width: 1024px;
        max-width: 1280px;
        
    }
}