/* Main Styling Elements */
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 1.8rem;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

blockquote {
    font-family: "Alegreya Sans SC", "Lucida", "Verdana", sans-serif
}

/* Main Container to Size/Space Content */
#sb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Header */
#sb #title-bar {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#sb #title-bar > div {
    display: inline-block;
}

/* Social Media Bar */
#sb #social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sb #social li {
    display: inline-block;
    padding: 0.25em;
}

/* Contact Bar */
#sb #contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sb #contact li {
    display: inline-block;
    padding: 0.25em;
}

/* Menu Bar */
#sb #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;

}

#sb #menu li {
    list-style: none;
    display: inline-block;
    padding: 0.25em 0.5em;
}

#sb #menu li:hover {
    background-color: #a9e883;
    cursor: pointer;
}

/* Media Queries for page sizing */
@media screen and (max-width: 480px) {
    #main-container {
        min-width: 320px;
        max-width: 480px;
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #main-container {
        min-width: 480px;
        max-width: 768px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #main-container {
        min-width: 768px;
        max-width: 1024px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #main-container {
        min-width: 1024px;
        max-width: 1280px;
        width: 100%;
    }
}