/*
	Dark Grey = rgb(101, 101, 101);
	Grey = rgb(151, 151, 151);
	Light Grey = rgb(200, 200, 200);
	Lightest Grey = rgb(245, 245, 245);
	Dark Green = rgb(31, 103, 0);
	Green = rgb(41, 138, 0);
	Light Green = rgb(49, 171, 0);
	Pale Green = rgb(200, 238, 196);
*/

body {
	font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	font-size: 1.6em;
	background: rgb(230, 230, 230);
}

/* Text Styles */
h1 {
	display: block;
	padding: 3px 7px;
	margin: 0px;
	color: rgb(255, 255, 255);
	font-size: 200%;
	font-weight: bold;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

h2 {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	padding: 3px 7px;
	margin: 0;
	color: rgb(31, 103, 0);
	font-size: 32px;
	text-align: center;
}

h3 {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	padding: 3px 7px;
	margin: 0;
	color: rgb(101, 101, 101);
	font-size: 27px;
	text-align: center;
}

p {
	margin: 0;
	padding: 0 7px;
}

a {
	color: rgb(31, 103, 0);
	font-weight: 600;
}

a:hover {
	color: rgb(49, 171, 0);
}

/* Image Formatting */
#Main-Content img {
	border: 3px double rgb(151, 151, 151);
	max-width: 100%;
}

/* Div Formatting */
.line {
	position: relative;
	width: 100%;
	margin: 5px 0;
}
	
.line:after {
	content: ' ';
	clear: both;
	display: block;
}

.MT05em {
	margin-top: 0.5em;
}

.MT1em {
	margin-top: 1em;
}

.MT2em {
	margin-top: 2em;
}

.MB1em {
	margin-bottom: 1em;
}

.PT05em {
	padding-top: 0.5em;
}

.PT1em {
	padding-top: 1em;
}

.hide {
	display: none;
}

.inlineBlock {
	display: inline-block;
}

.em1, input[type="text"].em1, select.em1 {width: 1em;}
.em2, input[type="text"].em2, select.em2 {width: 2em;}
.em3, input[type="text"].em3, select.em3 {width: 3em;}
.em4, input[type="text"].em4, select.em4 {width: 4em;}
.em5, input[type="text"].em5, select.em5 {width: 5em;}
.em6, input[type="text"].em6, select.em6 {width: 6em;}
.em7, input[type="text"].em7, select.em7 {width: 7em;}
.em8, input[type="text"].em8, select.em8 {width: 8em;}
.em9, input[type="text"].em9, select.em9 {width: 9em;}
.em10, input[type="text"].em10, select.em10 {width: 10em;}
.em11, input[type="text"].em11, select.em11 {width: 11em;}
.em12, input[type="text"].em12, select.em12 {width: 12em;}
.em13, input[type="text"].em13, select.em13 {width: 13em;}
.em14, input[type="text"].em14, select.em14 {width: 14em;}
.em15, input[type="text"].em15, select.em15 {width: 15em;}
.em20, input[type="text"].em20, select.em20 {width: 20em;}
input[type="date"] {width:100%; max-width: 10em;}

/* Input Element Formating */
textarea {
	height: 6em;
	width: 25em;
}

label {
	cursor: pointer;
}

/* Menu Styles */
nav {
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: rgb(101, 101, 101);
	min-width: 320px;
	max-width: 1420px;
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

#Menu-Logo {
	float: right;
	text-align: right;
	padding: 10px 10px 15px 0;
	font-size: 160%;
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

#Menu-Logo img {
	width: 175px;
}

#Menu-Heading {
	padding: 10px 0 10px 40px;
	background-color: rgb(41, 138, 0);
	border-top: 7px solid rgb(151, 151, 151);
}

/* Menu Styles - Expanded */
#Menu.expanded #Menu-List {
	display: initial;
}

#Menu.expanded #Menu-List{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#Menu.expanded #Menu-List li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	color: rgb(255, 255, 255);
	border-left: 3px solid white;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
}

#Menu.expanded #Menu-List a {
	display: inline-block;
	margin: 0;
	padding: 25px 5px 5px 15px;
	width: 130px;
	color: rgb(255, 255, 255);
	font-weight: 400;
	text-decoration: none;
}

#Menu.expanded #Menu-List li:nth-child(1) {
	border-left: 0;
}

#Menu.expanded #Menu-List li:hover {
	background-color: rgb(41, 138, 0);
}

#Menu.expanded #Menu-List .selected {
	background-color: rgb(41, 138, 0);
}

#Menu.expanded #Menu-Icon {
	display: none;
}

/* Menu Styles - Collapsed */
#Menu.collapsed #Menu-List {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 68px;
	left: 23px;
	z-index: 10;
}

#Menu.collapsed #Menu-List li {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(101, 101, 101);
	background-color: rgb(151, 151, 151);
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
}

#Menu.collapsed #Menu-List a {
	display: inline-block;
	margin: 0;
	padding: 25px 5px 5px 15px;
	width: 130px;
	color: rgb(255, 255, 255);
	font-weight: 400;
	text-decoration: none;
}

#Menu.collapsed #Menu-List li:hover {
	background-color: rgb(101, 101, 101);
}

#Menu.collapsed #Menu-List .selected {
	background-color: rgb(101, 101, 101);
}

#Menu.collapsed #Menu-Icon {
	display: block;
	padding: 8px 0px 7px 15px;
	cursor: pointer;
}

/* Main Content Styles */
#Main-Content {
	background: rgb(245, 245, 245);
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px;
	min-width: 300px;
	max-width: 1400px;
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

.center-content {
	text-align: center;
}

/* About Us Styles */
#About-Us {
	background: rgb(245, 245, 245);
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px;
	min-width: 300px;
	max-width: 1400px;
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

/* Navigation Bar Style */
#Navigation-Bar {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px;
	min-width: 300px;
	max-width: 1400px;
	background: rgb(245, 245, 245);
	text-align: center;
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

#Navigation-Bar ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#Navigation-Bar li {
	margin: 0 10px;
	padding: 0;
	display: inline-block;
	height: 80px;
}

#Navigation-Bar a {
	display: block;
	height: 80px;
}

#Navigation-Bar #Navigation-First a {
	background: url("/play/include/nav_icons.svg") 0px 80px;
	width: 68px;
	height: 80px;
}

#Navigation-Bar #Navigation-First a:hover {
	background: url("/play/include/nav_icons.svg") 0px 160px;
	width: 68px;
	height: 80px;
}

#Navigation-Bar #Navigation-First {
	background: url("/play/include/nav_icons.svg") 0px 0px;
	width: 68px;
	height: 80px;
}

#Navigation-Bar #Navigation-Back a {
	background: url("/play/include/nav_icons.svg") -68px 80px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Back a:hover {
	background: url("/play/include/nav_icons.svg") -68px 160px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Back {
	background: url("/play/include/nav_icons.svg") -68px 0px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Random a {
	background: url("/play/include/nav_icons.svg") -120px 80px;
	width: 60px;
	height: 80px;
}

#Navigation-Bar #Navigation-Random a:hover {
	background: url("/play/include/nav_icons.svg") -120px 160px;
	width: 60px;
	height: 80px;
}

#Navigation-Bar #Navigation-Random {
	background: url("/play/include/nav_icons.svg") -120px 0px;
	width: 60px;
	height: 80px;
}

#Navigation-Bar #Navigation-Next a {
	background: url("/play/include/nav_icons.svg") -180px 80px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Next a:hover {
	background: url("/play/include/nav_icons.svg") -180px 160px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Next {
	background: url("/play/include/nav_icons.svg") -180px 0px;
	width: 52px;
	height: 80px;
}

#Navigation-Bar #Navigation-Last a {
	background: url("/play/include/nav_icons.svg") -232px 80px;
	width: 68px;
	height: 80px;
}

#Navigation-Bar #Navigation-Last a:hover {
	background: url("/play/include/nav_icons.svg") -232px 160px;
	width: 68px;
	height: 80px;
}

#Navigation-Bar #Navigation-Last {
	background: url("/play/include/nav_icons.svg") -232px 0px;
	width: 68px;
	height: 80px;
}

/* Social Media Styles */
#Social-Media {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px;
	min-width: 300px;
	max-width: 1400px;
	background: rgb(245, 245, 245);
	text-align: center;
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

#Social-Media-Title {
	display: inline-block;
	margin: 0;
}

#Social-Media-Twitter {
	display: inline-block;
	margin: 0 15px;
}

#Social-Media-Facebook {
	display: inline-block;
	margin: 0 15px;
}

.fb-like {
    position:relative;
    top:-7px;
}

.fb-follow {
    position:relative;
    top:-8px;
}

#Social-Media-Google {
	display: inline-block;
	margin: 0 15px;
}
/* Footer Style */
footer {
	margin: 0 auto;
	padding: 10px 20px;
	background-color: rgb(101, 101, 101);
	min-width: 280px;
	max-width: 1380px;
	font-size: 60%;
	text-align: center;
	color: rgb(255, 255, 255);
	box-shadow: 2px 2px 5px rgb(101, 101, 101);
}

footer a {
	color: rgb(255, 255, 255);
}