{% extends "base_generic.html" %}

{% load static %}

{% block content %}
	{% if guide_page %}
		<h1><a href="{% url 'study_index' %}">Study</a> &gt; {{ guide_page.title }}</h1>
		
		<p>Last Update {{ guide_page.last_update|date:"Y.m.d" }}</p>
		
		{% for item in guide_page.htmlguide_set.all %}
			<div>{{ item.html|safe }}</div>
		{% endfor %}

		{% for item in guide_page.documentguide_set.all %}
			<div class="embedded_pdf">
				<object data="{{ item.document.url }}" type="application/pdf">
					<a href="{{ item.document.url }}" target="_blank">
						Sorry, your browser cannot display the Study Guide - 
						click here to download it
					</a>
				</object>
			</div>
			
			<div class="center_content">
				<a href="{{ item.document.url }}" target="_blank">
					Click here to open this in a new window
				</a>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}