{% for item in play_page.playimage_set.all %}
	{% if item.title %}
		<h3>{{ item.title }}</h3>
	{% endif %}

	{% if item.type == "i" %}
		<img src="{{ item.resized_image.url }}">
	{% endif %}

	{% if item.description %}
		<p>{{ item.description }}</p>
	{% endif %}
{% endfor %}

<ul>
	
	{% if play_page.previous_page %}
		<li><a href="{% url 'play_page' 1 %}">First</a></li>
		<li><a href="{% url 'play_page' play_page.previous_page %}">Previous</a></li>
	{% endif %}

		<li><a href="{% url 'archive' %}">Archive</a></li>

	{% if play_page.next_page %}
		<li><a href="{% url 'play_page' play_page.next_page %}">Next</a></li>
		<li><a href="{% url 'play_page' play_page.last_page %}">Last</a></li>
	{% endif %}
</ul>
