{% extends "base_generic.html" %}

{% block styles %}
	<style>
		#sb h1 a {
			color: inherit;
			cursor: pointer;
			font-weight: 500;
			text-decoration: none;
			transition: 0.2s ease;
		}

			#sb h1 a:hover {
				color: rgb(31, 103, 0);
			}
	</style>
{% endblock %}

{% block content %}
	{% if play_page %}
		<h1>
			<a href="{% url 'play_index' %}">Play</a> 
			&gt; {{ play_page.date|date:"Y.m.d" }} - {{ play_page.title}}
		</h1>

		{% include "play/playpage_display.html" %}
	{% endif %}
{% endblock %}