{% extends "base_generic.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/vancomycin_calculator.css'%}">
{% endblock %}

{% block content %}
  <h1><a href="{% url 'tools_index' %}">Tools</a> &gt; QTc Risk Tool</h1>

  <p>
    Welcome to the QTc Risk Tool. This tool helps assess a patient's risk of
    QTc-prolongation and Torsades de Pointes
  </p>

  <ul>
    <li data-qt-risk="3" data-pro-qtc="1">One QTc-prolonging medication</li>
    <li data-qt-risk="6" data-pro-qtc="1">Two or more QTc-prolonging medication</li>
    <li data-qt-risk="2" data-pro-qtc="1">Serum K<sup>+</sup> &le; 3.6 mmol/L <!-- qt-risk used 3.5 --></li>
    <li data-qt-risk="0" data-pro-qtc="1">Serum Ca<sup>2+</sup> &le; 1.16 mmol/L <!-- qt-risk used 3.5 --></li>
    <li data-qt-risk="0" data-pro-qtc="1">Serum Mg<sup>2+</sup> &le; 0.7 mmol/L <!-- qt-risk used 3.5 --></li>
    <li data-qt-risk="1" data-pro-qtc="0">Age &ge; 68</li>
    <li data-qt-risk="1" data-pro-qtc="1">Female sex</li>
    <li data-qt-risk="1" data-pro-qtc="0">Loop diuretic</li>
    <li data-qt-risk="2" data-pro-qtc="0">Admission QTc &ge; 450 ms</li>
    <li data-qt-risk="2" data-pro-qtc="1">Recent MI (in past 7 days) <!-- QT-risk did not specify what recent was --></li>
    <li data-qt-risk="3" data-pro-qtc="0">Sepsis</li>
    <li data-qt-risk="3" data-pro-qtc="1">Heart failure <!-- pro-QT only includes EF < 40% --></li>
    <li data-qt-risk="0" data-pro-qtc="1">Anorexia nervosa or starvation</li>
    <li data-qt-risk="0" data-pro-qtc="1">Bradycardia (heart rate &lt; 45 beats/min)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Diabetes mellitus</li>
    <li data-qt-risk="0" data-pro-qtc="1">Hypertrophic cardiomyopathy</li>
    <li data-qt-risk="0" data-pro-qtc="1">Hypoglycemia (documented and in the absence of diabetes)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Intoxication with QT-prolonging drug (<= 24 h)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Long QT syndrome</li>
    <li data-qt-risk="0" data-pro-qtc="1">Pheochromocytoma</li>
    <li data-qt-risk="0" data-pro-qtc="1">Renal dialysis</li>
    <li data-qt-risk="0" data-pro-qtc="1">Status after AF conversion (7 days after cardioversion, radio-frequency ablation, or the Maze procedure)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Status after cardiac arrest (past 24 h)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Status after syncope or seizure (past 24 h)</li>
    <li data-qt-risk="0" data-pro-qtc="1">Stroke, SAH, head trauma (past 7 days)</li>
  </ul>

  <!-- References -->
  <div class="PT1em">
    <h2>References</h2>

  </div>
{% endblock %}

{% block js %}
  <!-- JS Functions and External Libraries -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="{% static 'js/vancomycin_calculator.js'%}"></script>
{% endblock %}
